# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/logs/dev.log
/app/logs/test.log

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
!app/console
!app/symfony_requirements
/vendor/
/web/bundles/

# Assets and user uploads
#/web/bundles/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

.idea