/app/cache/
app/cache/
/app/cache/*
app/cache/*
/app/logs/
/app/logs/*
app/logs/
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/config/parameters.yml
/vendor/
.idea/
.DS_Store
/web/bundles/
/app/bootstrap.php.cache
/build/
/bin/